@import url('http://fonts.googleapis.com/css?family=Gudea:400,700');
@import url('https://fonts.googleapis.com/css?family=Satisfy');

.play	    {position: fixed; left: 5%; top: 3%; display: block; width: 33%; height: 40px; cursor: pointer; z-index:1000; text-align: left; color: #ffffff; font-size: 26px;}
.scroll     {position: fixed; right: 5%; top: 3%; display: block; width: 33%; height: 40px; background: url("../img/mouse.png") no-repeat scroll right center / auto 100% rgba(0, 0, 0, 0);  cursor: pointer; z-index:1000;  text-align: left; color: #ffffff; font-size: 26px;}
.swipe      {position: fixed; left: 38%; bottom: 15%; display: none; width: 300px; height: 40px; background: url("../img/swipe.png") no-repeat scroll right center / auto 100% rgba(0, 0, 0, 0);  cursor: pointer; z-index:1000;  text-align: left; color: #ffffff; font-size: 26px;}

/* Style loader */
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2000;
  position: fixed;

  height: 180px;
  width: 180px;
  margin: auto;
  background: transparent url(../img/waiting.png) center top;
  -webkit-animation: playpace .8s steps(11) infinite;
     -moz-animation: playpace .8s steps(11) infinite;
      -ms-animation: playpace .8s steps(11) infinite;
       -o-animation: playpace .8s steps(11) infinite;
  /*
  background: #fff;
  border: 1px solid #ccc;*/
}

audio {
	position: fixed;
	bottom: 0;
	left: 50%;
	display: none;
}

@-webkit-keyframes playpace {
   100% { background-position: 0 -2200px;}
}

@keyframes playpace {
   100% { background-position: 0 -2200px;}
}

.pace .pace-progress:before {
  content: attr(data-progress-text);
  text-align: center;
  color: #e34055;
  font-size: 40px;
  line-height: 180px;
  width: 180px;
  height: 180px;
  display: block;
  z-index: 999;
  position: absolute;
}

.pace.pace-inactive {
  display: none;
}
/* Fin style loader */



body {
	position:absolute;
	font-family: 'Gudea', sans-serif;
}

body.pace-done #content {
    display:block !important;
}

#content {
    display:none;
    position: relative;
}



/* begin background */
.particles {
	position:fixed;
}

.background {
    position:fixed;
    width: 100%;
    height: 200%;
}

#gradientsky {
    background: #77b5fe; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(rgba(255,255,255,0),rgba(255,255,255,1)); /*Safari 5.1-6*/
    background: -o-linear-gradient(rgba(255,255,255,0),rgba(255,255,255,1)); /*Opera 11.1-12*/
    background: -moz-linear-gradient(rgba(255,255,255,0),rgba(255,255,255,1)); /*Fx 3.6-15*/
    background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,1)); /*Standard*/
}

.clouds {
	position: fixed;
    width: 100%;
    height: 50%;
}

.plains,
.trees {
    position: fixed;
    width: 100%;
    height: 73%;
}


#clouds_1 {background: url("../img/clouds_1.svg") no-repeat scroll right center / 100% 100% rgba(0, 0, 0, 0);}
#clouds_2 {background: url("../img/clouds_2.svg") no-repeat scroll right center / 100% 100% rgba(0, 0, 0, 0); height: 80%;}
#plains_1 {background: url("../img/plains_1.svg") no-repeat scroll right center / 100% 100% rgba(0, 0, 0, 0);}
#plains_2 {background: url("../img/plains_2.svg") no-repeat scroll right center / 100% 100% rgba(0, 0, 0, 0);}
#plains_3 {background: url("../img/plains_3.svg") no-repeat scroll right center / 100% 100% rgba(0, 0, 0, 0);}
#shadows_2 {background: url("../img/shadows_2.svg") no-repeat scroll right center / 100% 100% rgba(0, 0, 0, 0);}
#shadows_3 {background: url("../img/shadows_3.svg") no-repeat scroll right center / 100% 100% rgba(0, 0, 0, 0);}
#trees_1 {background: url("../img/trees_1.svg") no-repeat scroll right center / 100% 100% rgba(0, 0, 0, 0);}
#trees_2 {background: url("../img/trees_2.svg") no-repeat scroll right center / 100% 100% rgba(0, 0, 0, 0);}
#trees_3 {background: url("../img/trees_3.svg") no-repeat scroll right center / 100% 100% rgba(0, 0, 0, 0);}
#baby {
    position: fixed;
    left: 15%;
    bottom: 10%;
    height: 30%;
    width: 30%;
    background: url("../img/baby.png") no-repeat scroll right center / 100% 100% rgba(0, 0, 0, 0);
}
#info-block {
    position: fixed;
    top: 5%;
    right: 2%;
    width: 50%;
    min-height: 50%;
    height: auto;
    padding: 1%;
    background-color: #fff0ca;
    border: solid 5px #875811;
    border-radius: 0;
    font-family: 'Satisfy', cursive;
    font-size: 2rem;
}
#info-block .head-title {
    font-size: 2.2rem;
}
/* end background */



/* begin slides */
.countdown {
    /*position:fixed;*/
    width:100%;
    height:100%;
    color: #fff;
    z-index: 100000;
	font-family: 'Satisfy', cursive;
}

.countdown-header {
    /*position: relative;*/
    display: block;
    width: 100%;
    margin-top: 7%;
    font-size: 10rem;
    text-align: center;
}

.countdown-content {
    /*position: relative;*/
    display: block;
    width: 100%;
    font-size: 7rem;
    text-align: center;

}
/* end slides */




/* Menu position */
#nav {
	position: fixed;
	top: 50%;
	right: 2%;
	text-align: right;
}

#nav li {

}


@media (min-width: 480px) {

    #baby {
        bottom: 10%;
        height: 30%;
        left: 14%;
        width: 18%;
    }
}

@media (min-width: 640px) {

}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

    #baby {
        bottom: 10%;
        height: 30%;
        left: 14%;
        width: 20%;
    }

    #info-block {
        width: 40%;
        min-height: 25%;
        height: auto;
        padding: 1%;
        background-color: #fff0ca;
        border: solid 5px #875811;
        border-radius: 10%;
        font-family: 'Satisfy', cursive;
        font-size: 3rem;
    }
    #info-block .head-title {
        font-size: 4rem;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {


}
