@import url(http://fonts.googleapis.com/css?family=Gudea:400,700);

.play		{position: fixed; left: 10%; top: 3%; display: block; width: 400px; height: 40px; background: url("../img/play.png") no-repeat scroll left center / auto 100% rgba(0, 0, 0, 0); cursor: pointer; z-index:1000; text-align: right; color: #ffffff; font-size: 26px;}
.scroll     {position: fixed; right: 10%; top: 3%; display: block; width: 340px; height: 40px; background: url("../img/mouse.png") no-repeat scroll right center / auto 100% rgba(0, 0, 0, 0);  cursor: pointer; z-index:1000;  text-align: left; color: #ffffff; font-size: 26px;}
.swipe      {position: fixed; left: 38%; bottom: 15%; display: none; width: 300px; height: 40px; background: url("../img/swipe.png") no-repeat scroll right center / auto 100% rgba(0, 0, 0, 0);  cursor: pointer; z-index:1000;  text-align: left; color: #ffffff; font-size: 26px;}

/* Style loader */
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2000;
  position: fixed;

  height: 180px;
  width: 180px;
  margin: auto;
  background: transparent url(../img/waiting.png) center top;
  -webkit-animation: playpace .8s steps(11) infinite;
     -moz-animation: playpace .8s steps(11) infinite;
      -ms-animation: playpace .8s steps(11) infinite;
       -o-animation: playpace .8s steps(11) infinite;
  /*
  background: #fff;
  border: 1px solid #ccc;*/
}

@-webkit-keyframes playpace {
   100% { background-position: 0 -2200px;}
}

@keyframes playpace {
   100% { background-position: 0 -2200px;}
}

.pace .pace-progress:before {
  content: attr(data-progress-text);
  text-align: center;
  color: #e34055;
  font-size: 40px;
  line-height: 180px;
  width: 180px;
  height: 180px;
  display: block;
  z-index: 999;
  position: absolute;
}

.pace.pace-inactive {
  display: none;
}
/* Fin style loader */

body {
	position:absolute;
	font-family: 'Gudea', sans-serif;
}

body.pace-done #content {
	display:block !important;
}

#content {
	display:none;
	position: relative;
}

.particles {
	position:fixed;
}

/*
#slide1 {height: 100%; position: relative; width: 100%; position: fixed; color: white;}
#slide2 {height: 100%; position: relative; width: 100%; position: fixed; color: white; text-align:center; z-index:1000;}
*/


/* Menu position */
#nav {
	position: fixed;
	top: 50%;
	right: 2%;
	text-align: right;
}

#nav li {

}
