#header {
    background-color: #a8a8f6;
    color: #fff;
}

#header a {
    color: #fff;
}

#main-container {
    margin-top: 50px;
}

#sidebar {
    position: fixed;
    background-color: #eeeeee;
    height: 100%;
    padding-top: 10px;
}

#sidebar a {
    color: #333;
}

#main-container-inner {}

#breadcrumbs {

}
