@import url('http://fonts.googleapis.com/css?family=Gudea:400,700');
@import url('https://fonts.googleapis.com/css?family=Satisfy');

body {
    height: 100%;
    width: 100%;
    background-color: #785A80;
    color: #D8B8E1;
}

#landing {}

#landing-image {
    width: 100%;
}

#landing-image > img {
    margin: 0 auto;
}

#landing > p {
    font-family: 'Satisfy', cursive;
    font-size: 2rem;
}
